body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2A3B4C;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#darkModeToggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #b2d8d8, #93c9a3);
    color: white;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #17a2b8;
}

#progressBarContainer {
    width: 100%;
    background: #ddd;
    height: 20px;
    border-radius: 10px;
}

#progressBar {
    width: 0;
    height: 100%;
    background: #28a745;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #2A3B4C;
    color: white;
}
